* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
        scroll-behavior: smooth;
        background: url(./assests/img/background.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-family: 'bahnschrift', sans-serif;
}
.clear{
        clear:both;
}
    
.element { 
        width: 170px;
        height: 40px;
        border: 1px solid #000;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center; 
        border-radius: 10px;
}
.element:hover { border: 4px solid #000; 
        cursor: pointer;
}
#wrapper_header { 
        display: flex;
        position: fixed;
        background-color: #fff;
        top:0;
        left: 0;
        right: 0;
        padding: 15px;
        border: 1px solid #000;
        border-radius: 3px;
        z-index: 1;
}
a { text-decoration: none; 
}
#content {
        width: 100%;
        height: 100%; 
        display: block;
        margin-top: 100px;
        padding-top: 30px;
}
.icon { 
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
}
.icon a{
        display: inline-block;
        width: 20%;
}
.icon_img { 
        width: 90px;
        height: 90px;
        margin: 80px;
        padding: 15px 15px;
        background-color: #030836;
        border-radius: 10px;
}

.img_tutorial{
        display: inline-block;
        margin: 20px;
}
.header-word{
        border: 1px solid #000;
        padding: 10px;
        margin: 0;
        display: inline-block;
        margin-left: 15px;
}
.line{
        display: flex;
        margin: 30px 0;
}

body{
        position: relative;
}

#tutorial{
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;   
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        z-index: 1;
}
#tutorial.modal{
        display: flex;
}
.tut-close{
        position: fixed;
}
.tut-wrap{
        width: 90%;
        height: 90%;
        background-color: #fff;
        overflow-y: scroll;
        animation: modalFadeIn ease 0.5s;
}
.header-tutorial{
        display: flex;
        width: 400px;
        height: 200px;
        align-items: center;
}
.tutorial_text{
        width: 50%;
        min-width: 600px;
        height: fit-content;
        word-wrap: break-word;
        margin-top: 15px;
        border: 1px solid #000;
        float: left;
}
.tutorial_vid{
        width: 30%;
        min-width: 300px;
        margin-left: 200px;
        object-fit: fill;
}
.tutorial_img{
        width: 20%;
}
.line1{
        height: 200px;
        text-align: justify;
}
.line2{
        margin-top: 30px;
        margin-left: 300px;
        height: 200px;
        text-align: justify;
}
#about{
        width: 100%;
        height: 1000px;
        text-align: center;
        font-size: 30px;
        padding-top: 30px;
}
#insights{
        width: 100%;
        height: 1000px;
        text-align: center;
        font-size: 30px;
        padding-top: 30px;
}
.header_about{
        padding: 50px 0;
}
.box{
        display: inline-block;
        border: 1px solid #000;
        padding: 15px;
        margin: 30px;
}
#contact{

        width: 100%;
        height: 1000px;
        text-align: center;
        font-size: 30px;
        padding-top: 30px;
}
.header_contact{
        padding: 50px 0;
}

nav { font-weight: bold;
	font-size: 120%;
        z-index: 1;
}
nav a {text-decoration: none;
}
nav a:link { color: #003300; }
nav a:visited { color: #7A7A52; }
nav ul { list-style-type: none; 
		margin: 0;
		padding-left: 0;
		font-size: 1.2em;
}
nav a:hover { 
        background: #fff;
        color: #333;
 }
h2 { color: #00664D; 
}

ul { 
        margin: 0;
        padding: 0;
        list-style-type: none;
}

.item {
        border-bottom: 1px solid black;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        outline: none;
        transition: 0.4s;
}

.info {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-in;
}
footer { display: block;
        font-size: 75%; 
        font-style: italic;
        padding: 15px;
        bottom: 0;
        font-family: Georgia, "Time New Roman", serif;
        text-align: center;
}
@media (max-width: 1023px) {
        #wrapper_header {
                width: 100%;
        } 
        #content {
                width: 100%;
        }
        #content .icon{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
        }
        #content .icon a {
                width: 25%;
        }
}
@media only screen and (max-width: 740px) {
        main {
                padding-top: 90px;
        }
        #content .icon a {
                width: 50%;
        }
        #wrapper_header {
                display: block;
        }
        #wrapper_header  div{
                width: 100%;
                margin: 0;
        }
}
video {
        margin-bottom: 10px;
        width: 40%;
}